[user]
		name = Mohit Pal Singh 
		email = mohit.pal.singh@outlook.com 

[push]
		default = upstream 

[pull]
	    rebase = false

[fetch]
	    prune = true

[core]
		editor = vim
		excludesfile = ~/dotfiles/git/.gitignore_global

[color]
		ui = auto

[diff]
		tool = vimdiff

[merge]
	    tool = vimdiff
	    conflictstyle = diff3
		prompt = false

[difftool]
		prompt = 0

[alias]
	    graph = log --all --graph --pretty=format:'%C(auto)%h%C(auto)%d %s %C(dim white)(%aN, %ar)'
		graph2 = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
				
		# Print branches by last used
		wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

[init]
		defaultBranch = main

[filter "lfs"]
		required = true
		clean = git-lfs clean -- %f
		smudge = git-lfs smudge -- %f
		process = git-lfs filter-process

[pager]
	    diff = diff-so-fancy | less --tabs=1,5 -RFX
	    show = diff-so-fancy | less --tabs=1,5 -RFX

[color "diff-highlight"]
	    oldNormal = red bold
	    oldHighlight = red bold 52
	    newNormal = green bold
	    newHighlight = green bold 22

[color "diff"]
	    meta = 11
	    frag = magenta bold
	    commit = yellow bold
	    old = red bold
	    new = green bold
	    whitespace = red reverse
[filter "media"]
	    required = true
	    clean = git media clean %f
	    smudge = git media smudge %f

[pretty]
		line = "%C(auto)%h %<|(60,trunc)%s %C(green)%ad%C(auto)%d"
		detail = "%C(auto)%h %s%n  %C(yellow)by %C(blue)%an %C(magenta)<%ae> [%G?] %C(green)%ad%n %C(auto)%d%n"

